#wrapper{
width: 1000px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
margin-bottom: 5px;
padding: 5px;

}
#footer{
  margin-top:20px;
  height:80px;
  width:1000px;
  float:left;
  color:#ABA7A7;
  /*background-color: #bdbdbd;*/
}
#top{
 height:150px; 
 background-color:;
 background-image: url("../images/city07.jpg");
 /*border: 8px solid 0.2;*/
}
#header{
/*background-image: url("../images/city.gif");*/
float:left;
height:100px;
}

.main_title{
  float:left;
  margin-left:200px;
  z-index: 999;
}
.main_titile p,h1{
  margin:5px;
  margin-left:5px;
}

.candidate{

  float:left;
  display: block;
  margin:2px;


}
.candidate_name{
  text-align: center;
  margin-bottom: 5px;
}
#candidate_wrapper{
  
  padding: 1px;
  width:998px;
  
}
.candidate_segment{
  /*
  background: gray;
  height:180px;
  padding:10px;
  */
  width:998px;
  height:300px;
  /*background: rgba(200,200,200,.8) !important;*/
  border:solid rgba(155,155,155,1) 1px;
  
}
#why_and_how_segment{
  width:998px;
  height:550px;
  margin-bottom: 80px;
 
}
#why_and_how_content{
  margin-left:20px;

}
.candidate_info{
  
}
.candidate_list{
  
  margin-bottom:20px;
  
}
.candidate_list h4{
  margin:2px;
}
.candidate_info a, .candidate_info a:hover{
  color:#555;
}

.city_info{
  float:left;
  width:300px;
  margin:20px;
}
.pressure_candidate{
  background: rgba(0,0,0,.8) !important;
  color:white;
  position:absolute;
  display:none;
  padding:5px;
  top: 0px;
  left: 0px;
  width:90px;
  height:90px;
  z-index:1001;
  -moz-opacity: 0.8;
  text-align: center;
  
  padding-top:20px;
}

.ask_to_join_button{
  margin:20px;
}

.ask_who{
  cursor: pointer;
}
#ask_who_close{
  cursor: pointer;
  color:white;
  float:right;
  top:0px;
  z-index:1002;

  
}
#ask_who_box{
  
  position:absolute;
  display:none;
  padding:5px;
  top: 0px;
  left: 0px;
  z-index:1001;
  
  padding-left: 10px;
  padding-right: 10px;
  -moz-opacity: 0.8;
  font-size: 10px;
}
#ask_who_explaination{
  
  margin-top:15px;
  margin-right:10px;
  padding:10px;
  background: rgba(0,0,0,.8) !important;
  color: white;
  width:300px;
  height:50px;
  


}
#city{
  margin-left:15px;
  float:left;
  display: block;
  position: fixed;
  top: 5%;
  z-index: 999;
  width:90px;
  text-align: center;

  color:#6ECFF5;
  font-size: 10px;
}
#candidate_login{
  margin-left:15px;
  margin-top:220px;
  float:left;
  display: block;
  position: fixed;
  top: 5%;
  z-index: 888;
  width:90px;
  text-align: center;
}
#user_count{
  margin-left:15px;
  margin-top:100px;
  float:left;
  display: block;
  position: fixed;
  top: 5%;
  z-index: 888;
  width:90px;
  text-align: center;
}
#navigation{
  margin-top:10px;
width:100%;
}
#content{
  margin-top:10px;
width:100%;
}

#response-content{
  width:700px;
  float:left;
}
.response_main_text{
  width:650px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 60px;

}


.response_petition_item {
margin-top: 10px;
border:1px solid #d9d9d9;
border-bottom:2px solid #bdbdbd;
border-radius:5px;
padding:10px;
padding-bottom: 15px;
}
.response_petition_item .content{
  margin-top: 5px;
}
.full_petition{
  float:right;
  
}
.float_right{
  float:right;
  margin-right: 8px;
  margin-top: 3px;
}



#response_righ_menu{
  margin-top: 20px;
}
#response_righ_menu a, #response_righ_menu a:hover, #response_righ_menu a:visited{
  color:#636363;
}
#propose_petition_button{
  text-align: center;
}



#petition-content{
  width:700px;
  float:left;
}
.f-nav{  /* To fix main menu container */
  
  position: fixed;
  top:0px;
    
}
.f-fix{
  position: absolute;
  top:225px;
  
}
#sign-petition{
  width:300px;
  margin-left:700px;
  float:right;
  display: block;

  /*background-color: #fef0d9;*/
  
  z-index: 888;
}




#map { height: 300px; }
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.question_list_a,.question_list_a:hover,.question_list_a:visited{
  color:white;
}
.quesiton_field{
  margin-top: 200px;
}
.category_item_collection{
 margin-left: 20px;
 height:220px;
}
.category_item{
  width:200px;
  float:left;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.main_title{
  margin-bottom:0px;
}
.main_slogan{
  margin-top:0px;
  margin-left:10px;
 
}
.petition-progress {
    width: 280px;
    height: 10px;
    background: #bdbdbd;
    position: relative;
    margin-top:5px;
    margin-bottom:10px;
}
.petition-bar {
    background: #de2d26;/*#43a2ca;*/
    height: 10px;
    color: white;
} 

.promote_petition{
  
  width:100%;
  display:block;

}


.sign-num{
  float:right;
  margin-top:15px;
}
.sign-num p{
  float:right;
  margin:2px;
}
.sign_rule{
  color:gray;
}
.sign_rule:hover{
  /*color:#feb24c; */
}
.sign_note{
  margin-top:12px;
}
.sign_area{
  margin-top:50px;
}
.back_to_top{
  margin:0px;
  text-align: right;

}
.back_to_top a{
  color:gray;
}
.petition_sign_area{
  
}
.petition_name{
  width:140px;
  height:100px;

}
.petition_name p{
  margin:1px;
}
#signature_end_divider{
  margin-bottom:30px;
}
.support_reason{

float:left;  
}
.pointing{
  border:red;
  
}
.comment_item{
  border-bottom:1px solid #CCC;
  padding-bottom:30px;
  padding-top:20px;
  padding-right: 10px;

  
}
.comment_vote{
  width:80px;
  margin-top: 20px;
  float:left;
  text-align: center;
}

.response_header{
  margin-bottom: 30px;
}
.response_header h2{
  margin: 5px;
}
.response_photo{

float:left;
width:80px;

}

.face {
border-radius: 100%;
}

.circleborder {
border: 4px solid #A1CF64;
padding:2px;
border-radius: 100%;
display: inline-block;
}

.response_info{

height:40px;
margin-left:60px;
  width:600px;
  vertical-align: middle;
  
  padding-top: 25px;
 
}
.response_text{
  /*border:solid 2px #A1CF64;*/
  background: #A1CF64;
  padding-left: 15px;
  margin-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;


  
}
.response_text a, .response_text a:visited{
  color:#636363;
  
}
.response_text a:hover{
  color:yellow;
}
.response_rate{
  float:right;
  margin-top: 5px;
  vertical-align: middle;
}
.response_rate_stars{
  float:left;
  margin-right:8px;
}



.response_meta{
  font-size: 10px;
  float:right;


}



.response_comment_vote{

  width:80px;
  margin-top: 10px;
  float:left;
  text-align: center;

}
.vote_up,.vote_down{
  cursor: pointer;
}
.add_comment{
  margin-top: 20px;
}
.post_comment_button{
  margin-top: 20px;
}
.comment_vote img{
  margin:0px;
  cursor: pointer;
}
.comment_vote_num{
  margin:0px;
  font-size: 30px;
  font-family: Cabin bold;
}
.comment_content{
  
  padding-left:5px;
  margin-left:85px;
  width:580px;

  
  margin-top: 10px;
}
.comment_description{
  margin-bottom: 20px;
}
.share_comment{
 
  font-size: 10px;
  width:90px;
  float:left;
  cursor: pointer;
  
}

.comment_meta{
  text-align: right;
  float:right;
  width:480px;
  font-size: 10px;
  cursor: pointer;
}


.date{
  color:gray;
  
}
.progress {
    width: 100px;
    height: 10px;
    background: #bdbdbd;
    position: relative;
    margin-top:5px;
    margin-bottom: 35px;
}
.bar {
    background: #43a2ca;
    height: 10px;
    color: white;

} 
.ask_to_join_bar {
    background: #de2d26;
    height: 10px;
    color: white;

}

span {
    position: absolute;
    top: 10px;

    z-index: 2;
    color: black;
    text-align: center;
    width: 100%;
}
.support_num{
   color:#302C29;
   vertical-align:bottom;

}
.more_botton{
   color:green;
   vertical-align:bottom;
}

/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.segment {
  background-image: url(images/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .menu .right.menu > .item {
    display: none;
  }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}