/* ------------------------------------------------------------ */
/* General Layout */
/* ------------------------------------------------------------ */
.web_only{
  display: none;
}
.body{
  background:rgba(122,104,94,0.1) !important;
  background: #e9e9e9;
}
#wrapper{
  background-color: #FFFFFF;
  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;
}
#top{
 display: none;
 background-image: url("../images/city-mobile.jpg");
}
#navigation{
  margin-top:0px;
  width:100%;
}
.navigation_mobile{
  position: fixed;
  top:0px;
  z-index: 1012;

}
#content{
  width:100%;
  margin-top: 20px;

}
#mobile_nav{
  height:36px;
}

/* ------------------------------------------------------------ */
/* indext.html */
/* ------------------------------------------------------------ */
/* 關於「市長，給問嗎？」*/
#mobile_nav_title{
 position: absolute;
 color: white;
 top:7px;

}
#why_and_how_segment{
  width:100%;
}
#why_and_how_web_menu{
  display: none;
}
.tab_menu_collection{
  margin-top: 20px;
}
.tab_menu{
  padding: 2px;
  margin: 3px;
  font-size: 11px;
  width:20%;
  text-align: center;
  display: inline-block;
  background: rgba(200,200,200,0.4);
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius:3px;
  border-top: 5px solid rgba(100,100,100,0.1);

}
.tab_menu_active{
  border-top: 5px solid rgba(100,100,100,0.7);
  
}

#how_to_use_web{
  display: none;
}
.why_and_how_title{
  background: rgba(200,200,200,0.4);
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  height:34px;
  width:100%;
  font-size: 18px;
  display: block;
  float:left;
}
.why_and_how_content{
  padding-top: 5px;
  margin-left:10px;
}
.why_and_how_item_collection{
 
}
.why_and_how_item{
  float:left;
  width:215px;
  margin-right:20px;
}
.hightlight{
  display: inline;
  margin:0px;
  padding: 0px;
  color:#a50f15;

}


/* ------------------------------------------------------------ */
/* question-list.html */
/* ------------------------------------------------------------ */

/*-------------------
        Sidebar
--------------------*/

#feed .sidebar {
  overflow: visible;
}
.page_sidebar{
  background: rgba(187,187,187,1);
  background: black;
}
/*----------------*/
.tool_bar_holder{
  padding-top: 10px;
  border-bottom: gray 1px solid;
  width:100%;
  height:40px;
  display: block;
  top:0px;
  left:0px;
  position: relative;
 
}
#category_launch_button{
  display: none;
}
#category_sidebar{
  display:none;
}
#tool_bar_seach{
  width:100%;
}
.tool_bar_candidate_filter{
  display: inline-block;
  
  margin-left:50px;
  font-size: 10px;
}
.tool_bar_candidate_filter label{
  margin-right:10px;
  
}
.question_list_item{
  display: block;
  height:36px;
  width: 100%;
  border-bottom:1px rgba(189,189,189,0.7) solid;
  padding-top: 6px;
  cursor: pointer;
  padding-right: 5px; 

  
}
.question_list_item:hover{
  background: rgba(200,200,200,0.8);
}
.question_list_votes,
.question_list_signatures{
  margin-top: 5px;

  margin-right: 10px;
  height:25px;
  float:left;
  text-align: right;
  font-size: 16px;
}
.question_list_bow{
  margin-top: 2px;
  text-align: right;
  margin-right: 10px;
  height:25px;
  color:#a50f15;
  float:left;
  font-size: 20px;
  display: inline-block;
}
.question_list_date{
  margin-top: 5px;
  float:left;
  margin-right: 10px;
}
.question_list_asker{
  margin-top: 5px;
  float: left;
}
.question_list_title{
  margin-top: 5px;
  display: inline-block;
}
.candidate_state_block{
  float:left;
}
.candidate_state{
  display: inline-block;
  float:left;
  width:30px;
  height:30px;
  margin: 3px;
  
}

.addressed_to{/* used in 集氣中 */
  cursor: pointer;
  border-radius: 3px;
}
.ask_who{/* used in 已達門檻 */
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-radius: 3px;
}
/* ------------------------------------------------------------ */
/* candidate-list.html */
/* ------------------------------------------------------------ */
#candidate_segment{
  width:100%;
  margin-top:0px;
}
#taipei{
  
}
.right_menu{
  float:right;
  width:300px;
  margin-left: 660px;
  border:1px solid #d5d5d5;
  border-radius: 10px;
  background: #d9d9d9;
 
}
.right_menu_list{
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin:10px;
  
}

.fc-fix{
  position: absolute;
  top:32px;
}
.right_menu_city_header{
  text-align:center;
  font-size: 18px;
  margin-top: 10px;

}
.right_menu_candidate_name{
  display: inline-block;
}

.candidate_segment{
  width:100%;
  /*background: rgba(200,200,200,.8) !important;*/
  border:solid rgba(155,155,155,1) 1px;
  
}
.candidate_list{
  width:90%;
 
}
.candidate_list_header{
  background: #d9d9d9;
  width:100%;
  padding:8px;
  padding-left: 12px;
  font-size: 14px;
  border-radius: 5px;

}
.candidate_list_title{
  margin-top:10px;
}

.candidate_collection{
  display: inline-block;
  margin: 5px;
}
.candidate{
  display: inline-block;
  margin:4px;
  position: relative;


}
.candidate_name{ 
  text-align: center;
  margin-bottom: 5px;
  
}
.progress_info_floating{
  position: absolute;
  top:90px;
  width:94px;
  /*background: rgba(251,106,74,0.85);*/
  background: rgba(255,255,255,0.8);
  z-index: 888;
  padding: 2px;
  padding-left:3px;
  padding-right:3px;
  font-size: 14px;
}
.progress_info_floating_text{
  margin-left: 35px;
  color:black;
}
.progress_info_floating_text:hover,.progress_info_floating_text:visited{
  color:black;
}
.candidate_img{
  width:100px;
  cursor: pointer;

}

.candidate_list_party{
  float:left;
  position: absolute;
  top: -105px; 
  left: 2px;
  z-index: 1001;
  width:30px;
  height:30px;

  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;

}
.candidate_list_party_join{
  position: absolute;
  top: -108px; 
  left: 2px;
  z-index: 1001;
  width:30px;
  height:30px;

  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;

}
.progress_info_rate{
  font-size: 14px;
}
.progress_info_answered{
  font-size: 14px;
}
.progress_info_asked{
  font-size: 14px;
}
.progress_info_askToJoin{
  font-size: 12px;
  text-align: left;
  margin-top: 3px;
  
}
.progress {
    width: 100px;
    height: 10px;
    background: #bdbdbd;
    position: relative;
    margin-top:5px;
    
    display: inline-block;
}
.bar {
    background: #fed976;/*#02818a;*/
    height: 10px;
    color: white;

}
.progress_info_askToJoin{
  padding: 2px;
  font-size: 12px;
  background: rgba(217,217,217,0.3);
  border-radius: 5px;
  text-align: center;

} 
.progress_info_askToJoin_text{
  border-top: 1px solid rgba(217,217,217,0.7);
}
.ask_to_join_button{
  background: rgba(251,106,74,0.9);/*red*/
  border-radius: 5px;
  color:white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding-top:5px;
  padding-bottom: 5px;
  width:100px;
}


/* ------------------------------------------------------------ */
/*  candidate-detail */
/* ------------------------------------------------------------ */
.candidate_detail_tab{
  display: inline-block;
}
/* 候選人個人頁面，右方個人資料 */
.candidate_right_menu{
  float:right;
  width:150px;
  margin-left: 760px;
  border:1px solid #d5d5d5;
  border-radius: 10px;
  background: #d9d9d9;
}
.candidate_right_menu_state{
  text-align: center;
  margin-bottom: 5px;
}
.candidate_right_menu_item{
 
}
.candidate_right_menu_right_text p{
  margin:5px;
}
.candidate_right_menu_right_text{
  float:right;
  display: inline-block;
  width:150px;
  font-size: 12px;

}
.progress_info_floating_candidate_detail{
  position: absolute;
  top:92px;
  width:94px;
  /*background: rgba(251,106,74,0.85);*/
  background: rgba(255,255,255,0.8);
  z-index: 888;
  padding: 2px;
  padding-left:3px;
  padding-right:3px;
  font-size: 14px;

}
.progress_info_floating_text_candidate_detail{
   margin-left: 30px;
   width:50px;
}
.candidate_detail_party{
  float:left;
  position: absolute;
  top: -95px; 
  left: 2px;
  z-index: 1001;
  width:30px;
  height:30px;

  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;

}
.ask_to_join_button_candidate_detail{
  background: rgba(251,106,74,0.9);/*red*/
  border-radius: 5px;
  color:white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding-top:5px;
  padding-bottom: 5px;
  width:100px;
  position: absolute;
}
.askedToJoin_candidate_right_menu{
  display: block;
  margin-top: 14px;
  font-size: 12px;
  text-align: center;
}
/* */
.candidate_detail_list_item{

  display: block;
  height:32px;
  width: 600px;
  border-bottom:1px rgba(189,189,189,0.7) solid;
  padding-top: 6px;
  cursor: pointer;
  padding-right: 5px;
  
}
.candidate_detail_list_item:hover{
  background: rgba(200,200,200,0.8);
}
.candidate_detail_vote{
  margin-top: 3px;
  width:120px;
  display: inline-block;
  float: left;
  font-size: 14px;
  text-align: right;
  border-right:1px gray solid;
  margin-right: 12px;
}

.candidate_detail_push{
  margin-top: 3px;
  width:50px;
  height:25px;
  color:#a50f15;
  float:left;
  display: inline-block;
}
.candidate_detail_booing{
  margin-top: 3px;
  width:50px;
  height:25px;
  
  color:green;
  float:left;
  display: inline-block;
}

.candidate_detail_votes{
  margin-top: 5px;
  width:40px;
  margin-right: 10px;
  height:25px;
  float:left;
  text-align: right;
  font-size: 14px;
}
.candidate_detail_date{
  margin-top: 4px;
  float:left;
  margin-right: 10px;
  width:40px;
}
.candidate_detail_asker{
  margin-top: 5px;
  width:90px;
  float: left;
}
.candidate_detail_title{
  margin-top: 4px;
  width:250px;
  float:left;
  
}
.candidate_detail_title_pending{
   padding-left: 10px;
   border-left: 1px gray solid;

}
#candidate_detail_searchbar{
  width:100%;
  margin-bottom: 10px;
}
.candidate_detail_button{
  float:right;
  display: inline-block;
  width:100px;
  height:28px;
  width:78px;
}
/* right menu */
#response_nav_segment{
  padding-bottom: 30px;

}
.response_nav_title{
  width:100%;
}
.response_nav_block{
  margin-top:20px;

}
.response_nav_sub_title{
  padding-bottom: 5px;
  border-bottom: 1px rgb(222,222,222) solid;
}
.right_menu_go_to_candidate{
  cursor: pointer;
}
.right_menu_go_to_candidate:hover{
  color: #00BAFF;
}
#i_wanna_ask_button{
  border-top: 1px gray solid;
  padding: 10px;
  text-align: center;
  display: inline-block;
  background: rgba(200,200,200,0.4);
  cursor: pointer;
}


/* ------------------------------------------------------------ */


.candidate_list h4{
  margin:2px;
}
.candidate_info a, .candidate_info a:hover{
  color:#555;
}





/* ------------------------------------------------------------ */
/*  response-detail */
/* ------------------------------------------------------------ */

#response-content{
  width:700px;
  
}
/* question 部分，和 question-detail 共用相同的 css */
/* response */
.response_start_divider{
  margin-top:5px;
  margin-bottom:20px;
  border-bottom:1px solid rgba(212,212,212,0.5);
}
.response_item{
  position: relative;
}
.response_main_text{
  width:650px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 60px;

}
.response_header{
  margin-bottom: 30px;
  margin-left: 5px;
  background: rgba(230,230,230,0.3);
  padding: 5px;
  border-radius: 5px;
  height:60px;

}
.response_title{
  margin-left:10px;
  display: inline-block;
}
.response_header h2{
  margin: 0px;
}
.response_subtitle{/* 臺北市長候選人OOO的回應 */
  padding-top: 2px;
  padding-bottom: 2px;
}
.response_photo{
  float:left;
}
.response_candidate_face{
  height: 60px;
  width: 60px;
}
.face {
  border-radius: 100%;
}
.circleborder {
  border: 4px solid #d6d6d6;
  padding:4px;
  border-radius: 100%;
  display: inline-block;
  background: white;
}

/* 針對回應的推跟噓 */
.response_detail_votes{
  text-align: center;
  float:right;
  position: absolute;
  top:7px;
  left:530px;
}
.response_detail_point_label{
  
}
.response_detail_push{
  border-radius: 5px;
  margin-left:0px;
  padding-left:0px;
  font-size: 20px;
  width:40px;
  color:#a50f15;
  display: inline-block;
  padding-bottom: 0px;
  margin-bottom: 0px;
  cursor: pointer;

}
.response_detail_booing{
  border-radius: 5px;
  margin-left:0px;
  padding-left:0px;
  font-size: 20px;
  width:40px;
  color:green;
  display: inline-block;
  padding-bottom: 0px;
  margin-bottom: 0px;
  cursor: pointer;

}
.response_detail_text{
  margin:0px;
  padding:0px;
  text-align: center;
}


.response_text a:hover{
  color:yellow;
}
.response_meta{
  font-size: 10px;
  float:right;
}
#response_detail_right_menu{
  width:300px;
  margin-left:686px;
  float:right;
  display: block;
  z-index: 888;
}

#response_righ_menu a, #response_righ_menu a:hover, #response_righ_menu a:visited{
  color:#636363;
}

.fr-fix{
  position: absolute;
  top:0px;
}


/* ------------------------------------------------------------ */
/* question-detail.html */
/* ------------------------------------------------------------ */

#question_content{
  width:700px;
}
/* --- top --- */
.addressed_to_block{
  display: inline-block;
  border-bottom: 1px rgba(200,200,200,0.5) solid;
  
}
.addressed_to_candidate_collection{
  float:left;
}
.addressed_to_candidate{
  display: inline-block;
  width:30px;
  height:30px;
  margin-left:3px;

}
.addressed_to{
  display: block;
  border-radius: 3px;
  position: relative;
  width:300px;
 
}
.addressed_to_candidate_text{
  display: inline-block; 
  position: relative;
  float:left;
  top:5px;
  left:0px;

}
.question_detail_header{
  display: block;
  height:32px;
  margin-top: 8px;
  margin-bottom:0px;
 
}
.question_detail_title{
  margin:0px;
  padding:0px;
}
.question_detail_votes,
.question_detail_signatures {
  text-align: center;
  float:right;
  position: absolute;
  top:20px;
  left:600px;
}
.question_detail_push{
  border-radius: 5px;
  margin-left:0px;
  padding-left:0px;
  font-size: 20px;
  width:40px;
  color:#a50f15;
  display: inline-block;
  padding-bottom: 0px;
  margin-bottom: 0px;
  cursor: pointer;

}
.question_detail_text{
  margin:0px;
  padding:0px;
  text-align: center;
}
/* --- content --- */
.question_detail_content{
  display: block;
}
.question_detail_meta{
  font-size: 10px;
}
.question_detail_meta p{
  margin-bottom: 3px;
}
.question_detail_category{
  display: inline-block;
}

/* --- 顯示推文 --- */
.question_sign_area{
 display: block;
 
}
#question_sign_block_start{
  margin:0px;
  margin-top:10px;
   margin-bottom:5px;
}
.question_sign_block{
  width:100%;
  margin:2px;
  font-size: 10px;
  border-bottom:  1px solid rgba(200,200,200,0.5);
  
}
.question_sign_title{
  font-size: 18px;
  font-weight: bold;
}
.question_sign_order_block{
  float:left;
  width:80px;
}
.question_sign_push{
  display: inline-block;
  font-size: 14px;
  padding: 2px;
  border-radius: 5px;
  width:18px;
  height:18px;
  text-align: center;
}
.question_sign_order{
 font-size: 10px;
 display: inline-block;

}
.question_sign_name{
  width:100%;
  padding-top:4px; 
  
}
.load_signature{
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}
/* --- right menu --- */
#sign-question{
  width:300px;
  margin-left:686px;
  float:right;
  display: block;
  z-index: 888;
 
}
.f-nav{  /* To fix main menu container */
  position: fixed;
  top:0px;
    
}
.f-fix{
  position: absolute;
  top:0px;
}

.question-progress {
    width: 280px;
    height: 10px;
    background: #bdbdbd;
    position: relative;
    margin-top:5px;
    margin-bottom:10px;
}
.question-bar {
    background: #de2d26;/*#43a2ca;*/
    height: 10px;
    color: white;
} 
.promote_question{/* 分享這個提問 */
  width:100%;
  display:block;

}
.sign-num{
  float:right;
  margin-top:15px;
}
.sign-num p{
  float:right;
  margin:2px;
}

.sign_rule:hover{
  /*color:#feb24c; */
}
.sign_note{
  margin-top:12px;
}
.sign_area{
  margin-top:50px;
}
.back_to_top{
  margin:0px;
  text-align: right;
  cursor: pointer;
  font-size: 12px;

}


/* ------------------------------------------------------------ */
/* login.html */
/* ------------------------------------------------------------ */

.invitation_text{
  color:#525252;
  font-size: 13px;
  line-height: 20px;

}
.login_segment{
  height:400px;
}
/* ------------------------------------------------------------ */
/* candidate-inbox.html */
/* ------------------------------------------------------------ */

.candidate_inbox_list_item{
  display: block;
  height:36px;
  width: 100%;
  border-bottom:1px rgba(189,189,189,0.7) solid;
  padding-top: 6px;
  cursor: pointer;
  padding-right: 5px; 
  
}
.candidate_inbox_list_item:hover{
  background: rgba(200,200,200,0.8);
}
.candidate_inbox_list_votes{
  margin-top: 5px;
  width:40px;
  margin-right: 10px;
  height:25px;
  float:left;
  text-align: right;
  font-size: 12px;

}
.candidate_inbox_list_date{
  margin-top: 5px;
  float:left;
  margin-right: 10px;
  font-size: 12px;
}
.candidate_inbox_list_asker{
  margin-top: 5px;
  width:90px;
  float: left;
}
.candidate_inbox_list_title{
  margin-top: 5px;
  float:left;
  padding-left: 10px;
  border-left: 1px gray solid;
  width:300px;

}
.candidate_inbox_detail_title{
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 5px;
  background: rgba(122,122,122,0.3);

}
#unreplied{
  display: inline-block;

}

.candidate_inbox_list_push{
  width:30px;
  height:15px;
  color:#a50f15;
  float:left;
  display: inline-block;
  
}
.candidate_inbox_list_booing{
  width:30px;
  height:15px;
  color:green;
  float:left;
  display: inline-block;
  
}
.candidate_inbox_page{
  margin-top: 10px;
  text-align: center;
}
/* 候選人登入後，顯示詳細回應內容 */
.response_item_short{
  width:100%;
  margin-top: 30px;
  border-top: solid 1px rgb(222,222,222);
  padding-top:20px;
  position: relative;
}
.response_title_short{
  font-size: 14px;
}
.responses_main_text_short{
  width:400px;
}
.response_detail_votes_short{

  display: inline-block;
  position: absolute;
  top:30px;
  left:400px;
  text-align: center;
}
.response_meta_short{
  text-align: right;
  font-size: 10px; 
}
.candidate_inbox_meta_push{
  color:#a50f15;
  display: inline-block;
}
.candidate_inbox_meta_booing{
  color:green;
  display: inline-block;

}



/* ------------------------------------------------------------ */
/* ask-question.html */
/* ------------------------------------------------------------ */
.question_field{
  margin-top: 200px;
}
.category_item_collection{
  margin-left: 20px;
  height:220px;
}
.category_item{
  width:200px;
  float:left;
  height:30px;
}
.error{
  float:left;
  color:red;
  width:100px;
  text-transform:none;
}
.ask_question_candidate_block{
 

}
#ask_question_form_header{
  margin-top: 15px;
}
.ask_question_candidate{
  display: inline-block;
  margin:5px;
  height:140px;
  width:80px;
  padding-left:8px;
  padding-right:8px;
  margin-top:10px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  
}
.ask_question_candidate img{
  
}

.ask_question_candidate_selected{
  background: #d3d3d3;

}
.ask_question_check{
  display: none;
}
.ask_question_candidate_selected>.ask_question_check{
  position:absolute;
  top:80px;
  left:5;
  display: inline-block;
}
.ask_question_candidate:hover{
  
}
.ask_question_text{
  text-align: center;
  margin: 2px;
}

/*
span {
    position: absolute;
    top: 10px;

    z-index: 2;
    color: black;
    text-align: center;
    width: 100%;
}
*/

/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
/*
a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
*/
a {
  text-decoration: none;
}
.link:hover {
  color: #00BAFF;
}
.link{
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
}
