<!--
<div id="city">
  改變你的城市
  <div class="ui pointing below blue label">
    <div class="ui dropdown">
      <p>change your city<br/>台北市</p>
      </div>
    </div>
  </div>
</div>
-->



<div id="wrapper">


<div id="candidate_login">
  <div class="ui label">
    <a href="candidate-login.html">候選人登入</a>
  </div>
</div>


  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>



<div id="city">
  改變你的城市
  <div class="ui pointing below blue label">
    <div class="ui dropdown">
      <p>change your city<br/>台北市</p>
      </div>
    </div>
</div>

<div id="user_count">
  <div class="ui pointing below green label">> join us!</div>
  <div class="ui pointing below label">
    1,985 人次 <br/>203 問題<br/> 2,213 響應
  </div>
</div>




  </div>

  <!-- ////////////////////////////////////////////////////////////// -->

  <div id="navigation">
    <div class="ui inverted menu">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>

      <a class="active item" href="#/ask-question">發問</a>
      <a class="item" href="#/question-list">瀏覽問題</a>
      <a class="item" href="#/response-list">瀏覽回應</a>
      <a class="item" href="#/candidate-list">候選人</a>
      <div class="right menu">
        <div class="item">
          <a href="#">登入</a>
        </div>


      </div>

    </div>

  </div>


  <!-- ////////////////////////////////////////////////////////////// -->


  <div id="content">





    <div class="ui form segment">
      <h2 class="ui header">
        公民提問
      </h2>


      <div class="ui divider"></div>
      <form name="form">
      <div class="field">
        <h4>1. 提問對象</h4>
        <div class="ui pointing below label">想對哪位候選人提問呢？</div>
        <div class="ask_question_candidate_block">

          <div class="ask_question_candidate" 
               id="candidate_{{n.id}}"
               ng-repeat="n in candidates" ng-click="toggleCandidate($index)">
            <div class="ask_question_text" id="candidateName_{{n.id}}">{{n.name}}</div>
            <img class="rounded ui image candidate_img" src="images/candidates/{{n.id}}.jpg" width="80px">
            <img class="ask_question_check" src="images/check.png" width="30px">
            <div class="ask_question_text">{{n.party}}</div>

          </div>
           <div class="ask_question_candidate" 
               id="candidate_all"
               ng-click="toggleAllCandidate()">
            <div class="ask_question_text" id="ask_all_candidate_hint_1">每個都想問</div>
            <img class="rounded ui image candidate_img" src="images/watchout_animal.jpg" width="80px">
            <div class="ask_question_text" id="ask_all_candidate_hint_2">按我全選吧</div>

          </div>

        </div>
        

        </div>
      <div class="field">
        <h4>2. 問題簡述</h4>
        <div class="ui pointing below label">一個簡短清楚的問題簡述，將有助於其他人瀏覽及連署你的提問！
        <span class="error" 
              ng-show="form.questionTitle.$error.required && !form.questionTitle.$pristine">
          為必填欄位</span><br>
        </div>
        <div class="ui input">
          <input type="text" 
                 placeholder="例如：請問是否有綠卡？"
                 name="questionTitle"
                 ng-model="newQuestionTitle" 
                 required>
        </div>
        
      </div>

      <div class="field question_field">
        <h4>3. 問題分類</h4>
        <div class="ui pointing below label">至多選擇三個相關分類</div>

        <div class="category_item_collection">
            <div class="column category_item" ng-repeat="category in categories">
              <div class="category_div">
                <input type="checkbox" class="category" value="{{category}}">{{category}}
              </div>
        </div>
        </div>
      </div>

      <div class="field question_field">
        <h4>4. 完整說明</h4>
        <div class="ui pointing below label">您可以在這裡進一步說明您的問題</div>
        <textarea ng-model="newQuestionContent"></textarea>
      </div>


      <div class="ui small black submit button" ng-click="postQuestion()">提出問題</div>
    </div><!-- end of form -->
    </div>
  </div> <!-- end of content -->
</div> <!--end of wrapper -->

