<div id="wrapper">
  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎？</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>
    <div id="announce_board">
      <div ng-include="'partials/announce-board.html'"></div>
    </div><!-- end of announce_board -->
  </div>


      <!-- ////////////////////////////////////////////////////////////// -->

      <div id="navigation">
   
    <!-- mobile navigation -->
    <div class="ui inverted menu mobile_only" id="mobile_nav">
      <a class="ui small black launch button item" id="mobile_nav_button">
         <i class="list layout icon"></i>
      </a>
      <div class="right menu">
        <div class="item">
          <span ng-show="auth.user">{{auth.user.displayName|limitTo:userNameLimitMobile}}{{(auth.user.displayName.length>userNameLimitMobile?'...':'')}}| </span>
          <a href="#" ng-click="login()" ng-hide="auth.user">登入</a>
          <a href="#" ng-click="logout()" ng-show="auth.user">登出</a>
        </div>     
      </div>
    </div>
   
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

    <div class="ui inverted menu web_only">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>
      <a class="item" href="#/ask-question">發問</a>
      <a class="item" href="#/question-list">集氣中</a>
      <a class="item" href="#/response-list">已達門檻</a>
      <a class="active item" href="#/candidate-list">候選人表現</a>
      <a class="item" href="#/candidate-inbox" ng-show="user.candidate_id">回答選民問題</a>
      <div class="right menu">
        <div class="item">
          <span ng-show="auth.user">{{auth.user.displayName}} | </span>
          <a href="#" ng-click="login()" ng-hide="auth.user">登入</a>
          <a href="#" ng-click="logout()" ng-show="auth.user">登出</a>
        </div>       
      </div>
    </div>
  </div>


      <!-- ////////////////////////////////////////////////////////////// -->

<div id="content">

<div class="ui labeled icon sidebar page_sidebar" id="sidebar">
       <div id="mobile_menu">
        <div class="item">
          <a href="#/"><i class="home icon"></i>市長，給問嗎？</a>
        </div>
        <div class="item"><a href="#/ask-question">發問</a></div>
        <div class="item"><a href="#/question-list">集氣中</a></div>
        <div class="item"><a href="#/response-list">已達門檻</a></div>
        <div class="active item"><a href="#/candidate-list">候選人表現</a></div>
      </div>
    </div><!-- end of ui sidebar -->

  <div class="ui raised segment" id="candidate_segment" >

    <div class="candidate_detail_mobile mobile_only">有關{{n.name}}的問題</div>



      <div class="right_menu fc-fix" id="taipei_candidates">
        <div class="right_menu_city_header">候選人摘要</div>

      <div class="right_menu_list">
      <div class="ui divided list">
        <div class="candidate_right_menu_state" 
             ng-show="data.state=='join'">已加入「市長，給問嗎？」</div>
        <div class="candidate_right_menu_state" 
             ng-hide="data.state=='join'">尚未加入「市長，給問嗎？」</div>

        <div class="item candidate_right_menu_item">
          <div class="candidate_right_menu_right_text">
            <p>{{data.bio}}</p>
            <p><a class="link" href="{{data.bio_wiki}}" target="_new">在維基百科上瀏覽更多</a></p>
          </div>

          <div class="candidate"> 
          <a href="#/candidate/{{data.id}}">
          <img class="rounded ui image candidate_img" 
               ng-src="images/candidates/{{data.id}}.jpg" id="candidate_{{data.id}}"></a>
          
          <div class="progress_info_floating_candidate_detail">
            <a href="#/candidate/{{data.id}}">
            <div class="progress_info_floating_text" 
                 id="candidateName_{{data.id}}"
                 ng-click="candidateChoose()">{{n.name}}</div></a>
          </div>
          <img class="circular ui image candidate_detail_party" 
           ng-src="images/{{data.partyEng}}.png"></img>

          <!--
          <div class="progress">
              <div class="bar" style="width: {{data.repliedQuestion / data.addressedQuestion * 100}}%;"> 
          </div>
          </div>
          <div class="progress_info_rate">
            回覆率：{{data.repliedQuestion / data.addressedQuestion * 100 | number:0}}%</div>
          <div class="progress_info_answered">已回答：{{data.repliedQuestion}} </div>
          <div class="progress_info_asked">被提問：{{data.addressedQuestion}}</div>
          <img class="circular ui image candidate_detail_party" 
           ng-src="images/{{data.partyEng}}.png"></img>
          <div class="ask_to_join_button_candidate_detail"
               ng-hide="data.state=='join'"
               ng-click="askCandidateJoin(data.id)">要求{{data.name}}參賽</div>
        
          <br/>  
          <div class="askedToJoin_candidate_right_menu"
               ng-hide="data.state=='join'">{{n.askedToJoin|number:0}}人</div>
             -->
        </div>
        </div><!-- end of item -->
      </div>
      </div>
    </div><!-- end of city_info -->


    
    <div class="candidate_list"><!-- join -->
      
      <div class="ui tabular filter menu">
        <a class="active item">已回答</a>
        <div class="candidate_detail_tab" ng-click="pending()"><a class="item">未回答</a></div>
      </div>

       <div class="ui small icon input" id="candidate_detail_searchbar">
         <input type="text" placeholder="關鍵字搜尋" ng-model="query">
       </div>
       

      <div class="candidate_detail_list_item" 
           ng-click="showQuestionDetail(n.$id)"
           ng-repeat="n in questions | orderByPriority | respondedByCandidate:data.id">
        <div class="candidate_detail_vote web_only">
          <div class="candidate_detail_push web_only">
            {{n.voteUp|number:0}}
          </div>
           <div class="candidate_detail_booing web_only">
            {{n.voteDown|number:0}}
          </div>
        </div>

        <div class="candidate_detail_date">{{n.post_date.month}}/{{n.post_date.day}}</div>
        <!-- <img class="ui avatar image ask_who" src="images/logo.png"></img> -->
        <div class="candidate_detail_title">{{n.title|limitTo:titleLimit}}</div>
       

        <div class="qustion_list_button">
        <div class="right floated tiny ui button"
             ng-click="showQuestionDetail(n.$id)">完整內容
        </div>
        </div>
         
        
        </div> <!-- end of candidate_detail_list_item -->
    </div><!--end of candidate_list #/question/{{n.id}}-->








                
    </div> <!-- end of tertiary inverted segment  (taipei)-->
  </div> <!-- end of content -->
</div> <!--end of wrapper -->
