<div id="wrapper">
  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎？</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>
    <div id="announce_board">
      <div ng-include="'partials/announce-board.html'"></div>
    </div><!-- end of announce_board -->
  </div>

      <!-- ////////////////////////////////////////////////////////////// -->

     <div id="navigation">

    <!-- mobile navigation -->
    <!-- <div ng-if="mobile" ng-include="'partials/mobile-nav.html'"></div>-->
    <div class="ui inverted menu mobile_only" id="mobile_nav">
      <a class="ui small black launch button item" id="mobile_nav_button">
         <i class="list layout icon"></i>
      </a>
    </div>
    <a class="ui item mobile_only" id="mobile_nav_title">市長，給問嗎？</a>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

    <div class="ui inverted menu web_only">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>
      <a class="item" href="#/ask-question">發問</a>
      <a class="item" href="#/question-list">集氣中</a>
      <a class="item" href="#/response-list">已達門檻</a>
      <a class="active item" href="#/candidate-list">候選人表現</a>
      <div class="right menu">
        <div class="item">
          <span ng-show="auth.user">{{auth.user.displayName}} | </span>
          <a href="#" ng-click="login()" ng-hide="auth.user">登入</a>
          <a href="#" ng-click="logout()" ng-show="auth.user">登出</a>
        </div>      
      </div>
    </div>
  </div>

      <!-- ////////////////////////////////////////////////////////////// -->

<div id="content">
<div class="ui labeled icon sidebar page_sidebar" id="sidebar">
       <div id="mobile_menu">
        <div class="item">
          <a href="#/"><i class="home icon"></i>市長，給問嗎？</a>
        </div>
        <div class="item"><a href="#/ask-question">發問</a></div>
        <div class="item"><a href="#/question-list">集氣中</a></div>
        <div class="item"><a href="#/response-list">已達門檻</a></div>
        <div class="active item"><a href="#/candidate-list">候選人表現</a></div>
      </div>
    </div><!-- end of ui sidebar -->




  <div class="ui raised segment" id="candidate_segment" >
      <div class="right_menu fc-fix web_only" id="taipei_candidates">
        <div class="right_menu_city_header">台北市長候選人參與情況</div>

      <div class="right_menu_list">
      <div class="ui divided list">
        <div class="item">
          <i class="user icon"></i>
          <div class="content">
            <a class="header">候選人：{{(candidates | orderByPriority).length}} 名</a>
          </div>
        </div>
        <div class="item">
          <i class="sun icon"></i>
          <div class="content">
            <a class="header">願意加入：{{(candidates | orderByPriority | filter:'join').length}} 名</a>
            <div><div class="right_menu_candidate_name" ng-repeat="n in candidates | orderByPriority | filter:'join'">{{n.name}}{{$last ? '' : '、'}}</div></div>
          </div>
        </div>
        <div class="item">
          <i class="unhide icon"></i>
          <div class="content">
            <a class="header">意向不明：{{(candidates | orderByPriority | filter:'pending').length}} 名</a>
            <div><div class="right_menu_candidate_name" ng-repeat="n in candidates | orderByPriority | filter:'pending'">{{n.name}}{{$last ? '' : '、'}}</div></div>
          </div>
        </div>
        <div class="item">
          <i class="plane icon"></i>
          <div class="content">
            <a class="header">拒絕加入：{{(candidates | orderByPriority | filter:'refused').length}} 名</a>
            <div><div class="right_menu_candidate_name" ng-repeat="n in candidates | orderByPriority | filter:'refused'">{{n.name}}{{$last ? '' : '、'}}</div></div>
          </div>
        </div>
      </div>
      </div>
    </div><!-- end of city_info -->


    
    <div class="candidate_list"><!-- join -->
      
      <div class="candidate_list_title">
         <h4 class="candidate_list_header">願意加入：我願意接受市民提問</h4>
      </div>

      <div class="candidate_collection">
      <div class="candidate"
           ng-repeat="n in candidates | orderByPriority | filter:'join'"> 
          <a href="#/candidate/{{n.id}}">
          <img class="rounded ui image candidate_img" ng-src="images/candidates/{{n.id}}.jpg" id="candidate_{{n.id}}" ng-click="candidateChoose()"></a>
          
          <div class="progress_info_floating">
            <a href="#/candidate/{{n.id}}">
            <div class="progress_info_floating_text" 
                 id="candidateName_{{n.id}}"
                ng-click="candidateChoose()">{{n.name}}</div></a>
          </div>
          <div class="progress">
              <div class="bar" style="width: {{n.repliedQuestion / n.addressedQuestion * 100}}%;"> 
          </div>
          </div>
          <div class="progress_info_rate">回覆率：{{n.repliedQuestion / n.addressedQuestion * 100 | number:0}}%</div>
          <div class="progress_info_answered">已回答：{{n.repliedQuestion}} </div>
          <div class="progress_info_asked">被提問：{{n.addressedQuestion}}</div>
          <img class="circular ui image candidate_list_party_join" 
           ng-src="images/{{n.partyEng}}.png"></img>


      </div>
      </div>


    </div><!--end of candidate_list //joing -->
    
    <div class="candidate_list"><!-- pending -->
      
      <div class="candidate_list_title">
         <h4 class="candidate_list_header">意向不明：尚未回覆</h4>
      </div>

      <div class="candidate_collection">
      <div class="candidate"
           ng-repeat="n in candidates | orderByPriority | filter:'pending'">
          <a href="#/candidate/{{n.id}}">
          <img class="rounded ui image candidate_img" ng-src="images/candidates/{{n.id}}.jpg"
               id="candidate_{{n.id}}" ng-click="candidateChoose()"></a>
      
          <div class="progress_info_floating">
            <a href="#/candidate/{{n.id}}">
            <div class="progress_info_floating_text" 
                 id="candidateName_{{n.id}}"
            ng-click="candidateChoose()">{{n.name}}</div></a>
          </div>

          <div class="ask_to_join_button"
               ng-click="askCandidateJoin(n.id)">要求{{n.name}}參賽</div>

          <div class="progress_info_askToJoin">要求參賽
            <div class="progress_info_askToJoin_text">{{n.askedToJoin|number:0}}人</div>
          </div>
          <img class="circular ui image candidate_list_party" 
           ng-src="images/{{n.partyEng}}.png"></img>
   
      </div>
      </div>

    </div><!--end of candidate_list //pending -->
    
    <div class="candidate_list"><!-- refused -->
      
      <div class="candidate_list_title">
         <h4 class="candidate_list_header">拒絕加入：表示不願在此回答市民提問</h4>
      </div>
 
      <div class="candidate_collection">
      <div class="candidate"
           ng-repeat="n in candidates | orderByPriority | filter:'refused'">
          <a href="#/candidate/{{n.id}}">
          <img class="rounded ui image candidate_img" ng-src="images/candidates/{{n.id}}.jpg" id="candidate_{{n.id}}" ng-click="candidateChoose()"></a>
      
          <div class="progress_info_floating">
            <a href="#/candidate/{{n.id}}">
            <div class="progress_info_floating_text" 
                 id="candidateName_{{n.id}}"
                 ng-click="candidateChoose()">{{n.name}}</div></a>
          </div>

          <div class="ask_to_join_button"
               ng-click="askCandidateJoin(n.id)">要求{{n.name}}參賽</div>

          <div class="progress_info_askToJoin">要求參賽
            <div class="progress_info_askToJoin_text">{{n.askedToJoin|number:0}}人</div>
          </div>
          <img class="circular ui image candidate_list_party" 
           ng-src="images/{{n.partyEng}}.png"></img>
      </div>
      </div>

    </div><!--end of candidate_list //refused -->








                
    </div> <!-- end of tertiary inverted segment  (taipei)-->
  </div> <!-- end of content -->
</div> <!--end of wrapper -->
