<div id="wrapper">
  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎？</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>
    <div id="announce_board">
      <div ng-include="'partials/announce-board.html'"></div>
    </div><!-- end of announce_board -->
  </div>
  
      <!-- ////////////////////////////////////////////////////////////// -->

      <div id="navigation">
    <div class="ui inverted menu">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>
      <a class="item" href="#/ask-question">發問</a>
      <a class="item" href="#/question-list">集氣中</a>
      <a class="item" href="#/response-list">已達門檻</a>
      <a class="item" href="#/candidate-list">候選人表現</a>
      <div class="right menu">
        <div class="item">
          <span ng-show="auth.user">{{auth.user.displayName}} | </span>
          <a href="#" ng-click="login()" ng-hide="auth.user">登入</a>
          <a href="#" ng-click="logout()" ng-show="auth.user">登出</a>
        </div>       
      </div>
    </div>
  </div>
      

      <!-- ////////////////////////////////////////////////////////////// -->
<div class="ui large inverted vertical sidebar menu">
    <div class="item">
      <b>{{user.displayName}}</b>
       <div class="menu">
        <a class="item">
          臺北市長參選人
        </a>
      </div>
    </div>

    <div class="item">
      <b><i class="settings icon"></i>修改密碼</b>
      

     <div class="ui form segment">
      <div class="field">
        <label>原密碼</label>
        <div class="ui left labeled icon input">
          <input type="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field">
        <label>新密碼</label>
        <div class="ui left labeled icon input">
          <input type="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field">
        <label>確認新密碼</label>
        <div class="ui left labeled icon input">
          <input type="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="ui submit tiny teal button" ng-click="changePassword()">確認修改</div>
    </div>
    </div>
   
  </div><!-- end of side menu -->

  <!-- //////////// -->
  
  <div class="ui celled grid">
    <div class="seven wide middle column">
      <div class="ui right floated black launch tiny button">
        <i class="list layout icon"></i> Menu
      </div>
      <h2 class="ui header">
        <i class="inbox icon"></i>
        Inbox / 市民心聲
      </h2>
      <div class="ui tabular filter menu">
        <div class="candidate_detail_tab" ng-click="inboxUnreplied()">
          <a class="item">尚未回覆</a></div>
        <div class="candidate_detail_tab"><a class="active item">已回覆</a></div>
      </div>

      <div id="unreplied">
        <div class="candidate_inbox_list_item" 
             ng-click="displayQuestionDetail(n.$id)"
             ng-repeat="n in questions | orderByPriority | respondedByCandidate:user.candidate_id | passedThreshold | filter:query">
           <div class="candidate_inbox_list_votes">
             <!--
              <div class="candidate_inbox_list_push">
                {{n.voteUp|number:0}}
              </div>
               <div class="candidate_inbox_list_booing">
                {{n.voteDown|number:0}}
              </div>
              -->
           </div>
           <div class="candidate_inbox_list_date">{{n.post_date.month}}/{{n.post_date.day}}</div>
           <div class="candidate_inbox_list_title">{{n.title}}</div>
         </div>
      </div> <!-- end of question_list_item -->


     

      <div class="candidate_inbox_page">
           <div class="ui pagination menu">
             <a class="icon item"><i class="icon left arrow"></i></a>
             <a class="active item">1</a>
             <a class="item">2</a>
             <a class="item">3</a>
             <a class="icon item"><i class="icon right arrow"></i></a>
           </div>
      </div>
    </div><!-- 左邊 inbox 列表的結束 -->

<!-- 內容 -->
    <div class="nine wide right column" ng-show="detail">

       <div class="addressed_to_candidate_text">本題詢問市長候選人：</div>
          <div class="addressed_to_candidate_collection">
          <div ng-repeat="k in detail.addressedTo | filter:'answered'"
               class="addressed_to_candidate">
               <a href="#/candidate/{{k.id}}">
               <img class="ui image addressed_to" 
                    ng-src="images/candidates_avatar/{{k.id}}.jpg"></img></a>
          </div>
          <div ng-repeat="k in detail.addressedTo | filter:'pending'"
               class="addressed_to_candidate">
               <a href="#/candidate/{{k.id}}">
               <img class="ui image addressed_to" 
                    ng-src="images/candidates_avatar_bw/{{k.id}}.jpg"></img></a>
          </div>
          </div>
 
      <div class='candidate_inbox_detail_title'>
          <h3 class="ui header">{{detail.title}}</h3>
      </div>
      類別：<a class="ui label" ng-repeat="n in detail.category">{{n}}</a> 

      <p ng-repeat="n in detail.content">{{n}}</p>

      <div class="question_detail_meta">
      <p>提出人： {{detail.asker.displayName}} | 提出日期： {{detail.post_date.year}}-{{detail.post_date.month}}-{{detail.post_date.day}} | 共同提問人數：{{detail.signatures_count|number:0}} </p>
      </div>

     
      
      

      <!-- Dispaly responses -->  
     
     <div class="response_item_short" ng-repeat="n in detail.responses" 
         id="response_item_{{n.responser}}">
      <div class="response_header">
        <div class="response_title">
             <h2>{{detail.title}}</h2>
             <div class="response_subtitle">
             臺北市長候選人<a class="link" href="#/candidate/{{n.responser}}">{{candidates[n.responser].name}}</a>的回應
             </div>
        </div>

        <div class="response_photo">
          <div class="circleborder">
          <a href="#/candidate/{{n.responser}}">
          <img class="circular ui image face response_candidate_face" 
               ng-src="images/candidates/{{n.responser}}.jpg"></a>
          </div>
        </div>
      </div><!-- end of response header -->
      <div class="response_main_text_short">
          <p ng-repeat="i in n.content">{{i}}</p>
          <div class="response_meta_short">
            回應日期： {{n.postDate.year}}-{{n.postDate.month}}-{{n.postDate.day}} ｜ 
            <div class="candidate_inbox_meta_push">推：{{n.upVotesCount|number:0}}</div> | 
            <div class="candidate_inbox_meta_booing">噓：{{n.downVotesCount|number:0}}</div>
          
          </div>

      </div>
    </div><!-- end of response_item -->
    
    <div class="ui divider"></div>



      <div class="ui form">
           <div class="field">
           <label>再次回答此問題</label>
           <textarea ng-model="responseContent"></textarea>
           </div>
           <div class="ui teal small button" ng-click="postResponse(responseContent)">回覆</div>
      </div>
     
      <div class="back_to_top" ng-click="goToTop()">
        <i class="angle up icon"></i> 回到頁首
      </div>
    

      
     </div>
<!--  -->
  </div>
</div>





