<div id="wrapper">
  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎？</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>
    <div id="announce_board">
      <div ng-include="'partials/announce-board.html'"></div>
    </div><!-- end of announce_board -->
  </div>

  <!-- ////////////////////////////////////////////////////////////// -->
   
  <div id="navigation">
    <!-- mobile navigation -->
    <!-- <div ng-if="mobile" ng-include="'partials/mobile-nav.html'"></div>-->
    <div class="ui inverted menu mobile_only" id="mobile_nav">
      <a class="ui small black launch button item" id="mobile_nav_button">
         <i class="list layout icon"></i>
      </a>
    </div>
    <a class="ui item mobile_only" id="mobile_nav_title">市長，給問嗎？</a>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

    <div class="ui inverted menu web_only">
      <a class="active item" href="index.html">
        <i class="home icon"></i>
      </a>
      <a class="item" href="#/ask-question">發問</a>
      <a class="item" href="#/question-list">集氣中</a>
      <a class="item" href="#/response-list">已達門檻</a>
      <a class="item" href="#/candidate-list">候選人表現</a>
      <div class="right menu">
        <div class="item">
          <span ng-show="auth.user">{{auth.user.displayName}} | </span>
          <a href="#" ng-click="login()" ng-hide="auth.user">登入</a>
          <a href="#" ng-click="logout()" ng-show="auth.user">登出</a>
        </div>     
      </div>
    </div>
  </div>


      <!-- ////////////////////////////////////////////////////////////// -->
<div id="content">
    <div class="ui labeled icon sidebar page_sidebar" id="sidebar">
       <div id="mobile_menu">
        <div class="active item">
          <a href="#/"><i class="home icon"></i>市長，給問嗎？</a>
        </div>
        <div class="item"><a href="#/ask-question">發問</a></div>
        <div class="item"><a href="#/question-list">集氣中</a></div>
        <div class="item"><a href="#/response-list">已達門檻</a></div>
        <div class="item"><a href="#/candidate-list">候選人表現</a></div>
      </div>
    </div><!-- end of ui sidebar -->



<div class="ui raised segment" id="why_and_how_segment">

<div class="ui horizontal list" id="why_and_how_web_menu">
  <div class="item index_tab index_tab_active" id="about_tab" ng-click="tabChoose('about')">
    <img class="ui avatar image" src="images/logo.png">
    <div class="content">
      <div class="header">關於這個網站</div>
    </div>
  </div>
  <div class="item index_tab" id="how_to_use_tab" ng-click="tabChoose('how_to_use')">
    <img class="ui avatar image" src="images/logo.png">
    <div class="content">
      <div class="header">如何使用及參與？</div>
    </div>
  </div>
  <div class="item index_tab" id="diff_tab" ng-click="tabChoose('diff')">
    <img class="ui avatar image" src="images/logo.png">
    <div class="content">
      <div class="header">和其他平台不同之處？</div>
    </div>
  </div>
  <div class="item index_tab" id="announcement_tab" ng-click="tabChoose('announcement')">
    <img class="ui avatar image index_tab_img" src="images/logo.png">
    <div class="content">
      <div class="header">版規 & 公告</div>
    </div>
  </div>
</div>

<div class="mobile_only"> 
  <div class="tab_menu_collection">
  <div class="tab_menu tab_menu_active" 
       ng-click="tabChoose('about')" id="about_mobiletab">關於這個網站</div>
  <div class="tab_menu" ng-click="tabChoose('how_to_use')" id="how_to_use_mobiletab">如何使用及參與</div>
  <div class="tab_menu" ng-click="tabChoose('diff')" id="diff_mobiletab">其他平台不同之處</div>
  <div class="tab_menu" ng-click="tabChoose('announcement')" id="announcement_mobiletab">版規<br/>公告</div>
  </div>
</div>
 
<div class="ui bottom attached segment active tab" id="about">
  
  
  <div class="why_and_how_title">關於「市長，給問嗎？」</div>
  <div class="why_and_how_content">
       <p>2014 年，公民參與要創造出新的選舉文化。</p>

       <p>我們不要傳統的口水戰、文宣戰、旗海戰；<br/>
          不依賴投票前兩個禮拜才舉辦的政見辯論會；<br/>
          不單單只是憑藉著黨籍、省籍、性別、或者外表，就決定要投給誰；<br/>
          更不當只負責投票的「一日公民」。<br/></p>

       <p>2014 年，你不必是媒體代表、知名人士，才能對候選人提問。<br>
          每一個市井小民，都有一樣的發言權；<br/>
          當你說出了市民共同的心聲，候選人就必須嚴肅看待、認真回應。</p>

       <p>提問和回應都將被公開檢視與討論。<br/>
          有別於過往的電話或投書反應，<br/>
          一個公開的平台，<br/>
          讓市民聲音得以串聯、共鳴，形成更大的力量。</p>

       <p>我們相信，你有權利也有義務參與這一次的討論，選出最符合你價值理念的候選人。<br/>
          因為政治不是「政治人物」或「社運人士」的事，<br/>
          政治關乎你我的生活，政治是我們的事。</p>

        <a href="#/candidate-inbox" class="link" ng-show="user.candidate_id">回答選民問題</a> /
        <a href="#/user-list" class="link" ng-show="user">我問過的問題</a> /

  </div>
</div> <!-- end of about data-tab -->
  
<div class="ui bottom attached segment tab" id="how_to_use">
  <div class="why_and_how_title">如何使用？——市民指南</div>
  <div class="why_and_how_content">
    <div class="why_and_how_item_collection">
    <div class="why_and_how_item">
      <div class="ui label">1. 提出問題</div>
      <img src="images/u1.jpg" width="200px">
      <p>每位註冊的使用者都可以對候選人提問：你可以選擇詢問一位候選人、或者數位，當然，你也可以詢問所有候選人。</p>
      <p>爲維持良好的討論品質，請務必閱讀並記得遵守<span class="link" ng-click="tabChoose('announcement')">版規</span>。</p>
    </div>
    <div class="why_and_how_item">
      <div class="ui label">2. 開始集氣</div>
      <img src="images/u2.jpg" width="200px">
      <p>提問送出後，每則提問都有<span class="hightlight">一個月</span>的時間可以被連署（被推、尋找共同發問者）。</p>
      <p><span class="hightlight">連署</span>一個問題，代表你也關注這個議題，並認為候選人對此提出看法及回答是重要的。</p>
    </div>
    <div class="why_and_how_item">
      <div class="ui label">3. 達成門檻</div>
      <img src="images/u3.jpg" width="200px">
      <p>當一個提問在時間內達到<span class="hightlight"><b>{{signature_threshold}}</b></span>連署數（被推爆了），候選人就必須回答此問題。</p>
      <p>連署門檻會隨著平台參與人數動態調整，請密切注意網站公告。</p>
    </div>
     <div class="why_and_how_item">
      <div class="ui label">4. 候選人回答</div>
      <img src="images/u4.jpg" width="200px">
      <p>針對候選人的回答，民眾可以投票支持（推）或反對（噓）。</p>
      <p>回覆後，便無法修改回覆內容；若有不足或想補充說明之處，可針對同一問題再次回答。</p>
    </div>
  </div><!-- end of why_and_how_item_collection -->
</div><!-- end of why_and_how_content -->


<div class="why_and_how_title">如何使用？——候選人指南</div>
  <div class="why_and_how_content">
  <div class="why_and_how_item_collection">
    <div class="why_and_how_item">
      <div class="ui label">1. Inbox / 市民心聲</div>
      <img src="images/u5.jpg" width="200px">
      <p>候選人登入後，可以看到專屬於自己的「市民心聲」信箱，所有向此候選人提問且已達門檻的問題會出現在這裡。</p>
      <p>你可以想像成這是你的 gmail 信箱，當連數人數達到門檻後，系統就會自動把這個問題寄到你的信箱。</p>
    </div>
    <div class="why_and_how_item">
      <div class="ui label">2. 已回覆 / 未回覆</div>
      <img src="images/u7.jpg" width="200px">
      <p>在「市民心聲」信箱中，可以分別看到「已回覆」和「未回覆」的列表，方便候選人檢視還有哪些問題尚未回覆。</p>
    </div>
    <div class="why_and_how_item">
      <div class="ui label">3. 回覆問題</div>
      <img src="images/u8.jpg" width="200px">
      <p>回覆問題很簡單：在每個提問下方都有一欄輸入文字的欄位，候選人只需在此輸入回應後點選「回覆」，就可以完成回覆了。</p>
    </div>
    <div class="why_and_how_item">
      <div class="ui label">4. 多次回覆</div>
      <img src="images/u9.jpg" width="200px">
      <p>候選人回覆後，便無法修改回覆內容；若有不足或想補充說明之處，可針對同一問題再次回答。</p>
    </div>
  </div><!-- end of why_and_how_item_collection -->
</div><!-- end of why_and_how_content -->


</div><!-- end of how to use user tab -->

<div class="ui bottom attached segment tab" id="diff">
  <div class="why_and_how_title">和其他平台有什麼不同？</div>
  <div class="why_and_how_content">
    <p>不管是選舉或是和政治人物溝通的方式，我們都不是唯一、也不是第一。但我們和其他的管道或平台有什麼不同呢？</p>
  <div class="ui two column grid">
  <div class="equal height row">
    <div class="column how_to_participate_text">
      <div class="ui label">旗海宣傳</div>
      <p>候選人對選民的單向宣傳，無法雙向溝通。</p>
    </div>
    <div class="column">
      <div class="ui label">市長，給問嗎？</div>
      <p>候選人可以從平台上獲得選民意見，選民也可得知候選人回答，是候選人和選民的雙向溝通平台。</p>
    </div>
  </div><!-- end of row -->
  <div class="equal height row">
    <div class="column how_to_participate_text">
      <div class="ui label">媒體民調</div>
      <p>只有媒體才能決定民調的時間點和調查項目。</p>
    </div>
    <div class="column">
      <div class="ui label">市長，給問嗎？</div>
      <p>平台上的「連署」和「針對候選人回應投票」的機制，就像是一場即時民調；任何人都可以丟出自己關注的議題。</p>
    </div>
  </div><!-- end of row -->
  <div class="equal height row">
    <div class="column how_to_participate_text">
      <div class="ui label">政見辯論</div>
      <p>由各領域代表負責提問，沒有機制讓一般民眾參與。</p>
    </div>
    <div class="column">
      <div class="ui label">市長，給問嗎？</div>
      <p>所有人都可以提問，代表是動態、即時被票選出的，真實說出市民心聲的人將成為市民代表。</p>
    </div>
  </div><!-- end of row -->
  <div class="equal height row">
    <div class="column how_to_participate_text">
      <div class="ui label">選民陳情</div>
      <p>目前民眾可以透過電話、網路等方式陳情，也會獲得回應，但是是私下的聯絡，其他人無法得知「誰」和「誰」反應了什麼問題，陳情的人也不會知道大概有多少人和自己會有一樣的問題。</p>
    </div>
    <div class="column">
      <div class="ui label">市長，給問嗎？</div>
      <p>在公開的平台上連署，達到陳情的效果，同時凝聚共識，讓關注同樣議題的人可以在平台上找到彼此，共同發聲。</p>
    </div>
  </div><!-- end of row -->


  </div><!-- end of grid -->

  <center><p>2014 年，公民參與要創造出新的選舉文化；請加入我們。</p></center>



  </div>
</div> <!-- end of diff tab -->

<div class="ui bottom attached segment tab" id="announcement">
  <div class="why_and_how_title">版規</div>
  <div class="why_and_how_content">
    <p>下列事項為本網站規範，若經網友檢舉並經管理員確認明顯符合者，將不經警告逕行刪文：
      <ul>
       <li>請勿發表廣告、商業宣傳或競選文案</li>
       <li>請勿留下任何自己或他人之電話、聯絡方式、個人頁面等之私人資訊</li>
       <li>請勿發表涉及人身攻擊、謾罵、惡意攻訐與恐嚇等之言論</li>
       <li>請勿詢問無關公共權益與社會議題之私人問題</li>
       <li>請勿進行洗版與重複發問</li>
       <li>請勿使用有關性別、民族、族群或國籍等歧視性用語</li>
      </ul>
    </p> 
  </div>

  <div class="why_and_how_title">公告</div>
   <div class="why_and_how_content">
    <ul>
      <li>[2014-02-21] 網站測試中，連署門檻：500。</li>
    </ul>
   </div>
</div> <!-- end of announcement tab -->


</div> <!-- end of ui raised segment-->
</div> <!-- end of content -->
</div> <!--end of wrapper -->

