<div id="wrapper">


<div id="candidate_login">
  <div class="ui label">
    <a href="candidate-login.html">候選人登入</a>
  </div>
</div>


  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>



<div id="city">
  改變你的城市
  <div class="ui pointing below blue label">
    
      change your city
      <div class="city_name">台北市</div>
  </div>
    
</div>

<div id="user_count">
  <div class="ui pointing below green label">> join us!</div>
  <div class="ui pointing below label">
    1,985 人次 <br/>203 問題<br/> 2,213 響應
  </div>
</div>




  </div>

  <!-- ////////////////////////////////////////////////////////////// -->

  <div id="navigation">
    <div class="ui inverted menu">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>

      <a class="item" href="#/ask-question">發問</a>
      <a class="item" href="#/question-list">瀏覽問題</a>
      <a class="item" href="#/response-list">瀏覽回應</a>
      <a class="item" href="#/candidate-list">候選人</a>
     <div class="right menu">
        <div class="item">
          <a href="#/login">登入</a>
        </div>
      </div>

    </div>

  </div>


  <!-- ////////////////////////////////////////////////////////////// -->


  <div id="content">





    <div class="ui form segment login_segment">
     






     <div class="ui two column middle aligned relaxed grid basic segment">
  <div class="column">
    <div class="ui form segment">
      <h3 class="ui header">登入</h3>
      <div class="field">
        <label>使用者名稱</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="Username">
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <label>密碼</label>
        <div class="ui left labeled icon input">
          <input type="password" placeholder="Password">
          <i class="lock icon"></i>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>
      <div class="ui submit small teal button" ng-click="login()">登入</div>
    </div>


      
  </div>

  
 
    <div class="ui vertical divider">
    Or
  </div>

<div class="column">
  

   <div class="invitation_text">
        <p>「市長，給問嗎」目前正在進行測試，僅開放取得邀請碼的使用者註冊。歡迎留下您的聯絡方式，我們將儘快寄送邀請碼給您。</p>
   </div>

    <div class="ui form segment">
      <h3 class="ui header">取得邀請碼</h3>
      <div class="field">
        <label>電子郵件</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="e-mail">
          <i class="mail icon"></i>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>
      
      <div class="ui submit small orange button" ng-click="getInvitation()">取得邀請碼</div>

    </div>
  </div>

</div>
  


  </div> <!-- end of content -->
</div> <!--end of wrapper -->






