<div id="wrapper">
  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎？</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>

  <div id="announce_board">
 
    <div class="header_candidate_collection">
    <div class="header_candidate" 
         ng-repeat="n in candidates | orderByPriority | filter:'join'">
      <div class="header_candidate_name" id="candidateName_{{n.id}}">{{n.name}}</div>
      <div class="header_candidate_photo">
      <div class="header_candidate_circleborder_{{n.state}}">
      <img class="circular ui image header_candidate_face" ng-src="images/candidates_avatar/{{n.id}}.jpg"></img>
      </div>
      <img class="circular ui image header_candidate_party header_candidate_party_{{n.partyEng}}" 
           ng-src="images/{{n.partyEng}}.png"></img>
      </div>
    </div>
    
    <div class="header_candidate" 
         ng-repeat="n in candidates | orderByPriority | filter:'pending'">
      <div class="header_candidate_name" id="candidateName_{{n.id}}">{{n.name}}</div>
      <div class="header_candidate_photo">
      <div class="header_candidate_circleborder_{{n.state}}">
      <img class="circular ui image header_candidate_face" ng-src="images/candidates_avatar/{{n.id}}.jpg"></img>
      </div>
      <img class="circular ui image header_candidate_party header_candidate_party_{{n.partyEng}}" 
           ng-src="images/{{n.partyEng}}.png"></img>
      </div>
    </div>


     
    <div class="header_candidate" 
         ng-repeat="n in candidates | orderByPriority | filter:'refused'">
      <div class="header_candidate_name" id="candidateName_{{n.id}}">{{n.name}}</div>
      <div class="header_candidate_photo">
      <div class="header_candidate_circleborder_{{n.state}}">
      <img class="circular ui image header_candidate_face" ng-src="images/candidates_avatar/{{n.id}}.jpg"></img>
      </div>
      <img class="circular ui image header_candidate_party header_candidate_party_{{n.partyEng}}" 
           ng-src="images/{{n.partyEng}}.png"></img>
      </div>
    </div>




    
     
     
     

  </div><!-- end of header_candidate_collection -->

<div class="header_candidate_info header_candidate_info_join">
      願意加入：{{(candidates | orderByPriority | filter:'join').length}} 名
    </div>

<div class="header_candidate_info header_candidate_info_pending">
      意向不明：{{(candidates | orderByPriority | filter:'pending').length}} 名
    </div>

     <div class="header_candidate_info header_candidate_info_refused">
      拒絕加入：{{(candidates | orderByPriority | filter:'refused').length}} 名
    </div>


  </div><!-- end of announce_board -->





  </div>

  <!-- ////////////////////////////////////////////////////////////// -->

  <div id="navigation">
    <div class="ui inverted menu">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>
      <a class="item" href="#/ask-question">發問</a>
      <a class="active item" href="#/question-list">集氣中</a>
      <a class="item" href="#/response-list">已達門檻</a>
      <a class="item" href="#/candidate-list">候選人表現</a>
      <div class="right menu">
        <div class="item">
          <a href="#/login">登入</a>
        </div>       
      </div>
    </div>
  </div>


  <!-- ////////////////////////////////////////////////////////////// -->
  <div id="question_content">
    <div class="ui segment">
      
       <div class="addressed_to_block">

          <div class="addressed_to_candidate_text">請問市長候選人：</div>
          <div class="addressed_to_candidate_collection">
          <div ng-repeat="k in data.addressing"
               class="addressed_to_candidate">
               <img class="ui image addressed_to" 
                    src="images/candidates_avatar/{{k.id}}.jpg"></img>
          </div>
          </div>
         
       </div><!-- end of state_block -->
       <div class="question_detail_votes">
          <div class="ui pointing left label">
          <div class="question_detail_push">推</div>
          <div class="question_detail_text">{{data.vote.total}}</div>
          </div>
       </div>

       <div class="question_detail_header">
          <h2 class="question_detail_title">{{data.title}}</h2>
       </div>
       <div class="question_detail_content">
          <p>{{data.content}}</p>
       </div>
      
      <div class="question_detail_meta">
      <p>提出人：{{data.asker.name}} | 提出日期： {{data.date}} </p>
      類別：
      <div class="question_detail_category" ng-repeat="n in data.category">
        <a class="link" href="#" >{{n}}{{$last ? '' : ', '}} <a>
      </div>
      </div>
    

          <div class="ui divider"></div>

          <div class="question_sign_area">
            <h2>共同發問者
              <div class="ui pointing below label">{{data.signature.length}}</div>
            </h2>
          
           
             <div class="question_sign_block" ng-repeat="n in data.signature">
                <div class="question_sign_order_block">
                  <div class="question_sign_push">推</div>
                  <div class="question_sign_order">#{{n.order|number:0}}</div>
                </div>
                <div class="question_sign_name">{{n.name}} | {{n.date.year}}-{{n.date.month}}-{{n.date.day}}</div>
             </div>
           
           </div><!-- end of question_sign_area -->

            <div class="load_signature">
              <a class="link"><i class="add icon"></i>load more signatures...</a>
            </div>
          
       






<div id="sign-question" class="f-fix">

          <div class="ui small form segment sign-penal">
            <h1>支持這個提問</h1>
            <p>已有 {{data.signature.length}} 人推文支持</p>
            <div class="sign-num">
              <p>截至 {{data.deadline}} 之前，尚需 {{1000-data.signature.length}} 人推文</p>
            </div>
            <div class="question-progress">
              <div class="question-bar" 
                   style="width: {{data.signature.length/1000*100|number:0}}%;"></div>

            </div>

            <div class="sign_area">
              <div class="field">
                <div class="ui red small button">
                  <i class="check icon"></i>
                  我要推文支持
                </div>
                <div class="sign_note">每則提問有 30 天的時間可被連署，若提問在期限內達到 1,000 人次連署支持，候選人就必須回應。</div>

                <div class="promote_question">
                  分享這個提問：
                  <img src="images/facebook_circle.png" width="30">
                  <img src="images/twitter_circle.png" width="30">
                  <img src="images/google_circle.png" width="31">
                </div>

              </div>
            </div><!-- end of sign_area -->
          </div> <!-- end of ui small form segment sign-penal -->
          <div class="back_to_top" ng-click="goToTop()">
            <i class="angle up icon"></i> 回到頁首
          </div>

        </div><!-- end of sign-petition -->

     
 </div><!-- end of question conent-->




</div><!-- end of wrapper-->

