
<div id="wrapper">


<div id="candidate_login">
  <div class="ui label">
    <a href="candidate-login.html">候選人登入</a>
  </div>
</div>


  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>



<div id="city">
  改變你的城市
  <div class="ui pointing below blue label">
    <div class="ui dropdown">
      <p>change your city<br/>台北市</p>
      </div>
    </div>
</div>

<div id="user_count">
  <div class="ui pointing below green label">> join us!</div>
  <div class="ui pointing below label">
    1,985 人次 <br/>203 問題<br/> 2,213 響應
  </div>
</div>




  </div>

  <!-- ////////////////////////////////////////////////////////////// -->

  <div id="navigation">
    <div class="ui inverted menu">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>
      <a class="item" href="#/ask-question">發問</a>
      <a class="active item" href="#/question-list">瀏覽問題</a>
      <a class="item" href="#/response-list">瀏覽回應</a>
      <a class="item" href="#/candidate-list">候選人</a>
      <div class="right menu">
        <div class="item">
          <a href="#">登入</a>
        </div>
      </div>
    </div>
  </div>


  <!-- ////////////////////////////////////////////////////////////// -->
  <div id="petition-content">
    <div class="ui segment">
      <h2>鄉民都來了：網路中立性立法及問題</h2>
      <p>經濟部智慧財產局欲修法封鎖海外侵權網站，引發網友持續震怒，除日前BBS網站批踢踢（PTT）發起百萬連署抗議，更有網友發起「六四網路全黑日」，並揚言留言「灌爆」總統馬英九的臉書粉絲專頁，以示抗議決心！</p>
      <p>「搞什麼，『制裁』都不『智財』了！」批踢踢鄉民開設反智財局討論專版（StopIPO），發起「反對智財局研議封鎖重大境外侵權網站」的網路連署，號召百萬民眾維護網路自主，公開向智財局嗆聲。鄉民直指網路自由不容侵犯，「智慧財產局侵犯我言論自由的圖謀，我無法接受。」</p>
      <p>更有網友於臉書（Facebook）發起「斷然反對鎖國，堅決主張百分之百網路自由」連署，訂定明天為「網路全黑日」，盼網友把大頭貼、封面相片都換成黑色，以示抗議智財局決心。發起人更說，除換上全黑照片外，更要民眾前往總統馬英九臉書，向總統表達最沉痛的怒吼，迄今已有超過4萬人加入。</p>

      <p>提出日期： 2014-01-30 </p>
      <p>類別： <a href="#">網路<a>, <a href="#">自由</a>, <a href="#">隱私</a></p>



          <div class="ui divider"></div>




          <div class="petition_sign_area">
            <h2>簽名</h2>
            <p>Signatures: 39 of 168</p>
            <div class="ui pointing below blac label petition_name">
              <p>提問人</p>
              <p>王小姐</p>
              <p>台北市/大安區</p>
              <p>2014-01-30</p>
              <p>Signature #1</p>
            </div>
            <div class="ui pointing below blac label petition_name">
              <p>張先生</p>
              <p>台北市/中正區</p>
              <p>2014-02-01</p>
              <p>Signature #121</p>
            </div>

            <div class="ui pointing below blac label petition_name">
              <p>S. M.</p>
              <p>Newark, CA</p>
              <p>2014-02-01</p>
              <p>Signature #120</p>
            </div>

            <div class="ui pointing below blac label petition_name">
              <p>S. M.</p>
              <p>Newark, CA</p>
              <p>2014-02-01</p>
              <p>Signature #120</p>
            </div>

            <div class="ui pointing below blac label petition_name">
              <p>S. M.</p>
              <p>Newark, CA</p>
              <p>2014-02-01</p>
              <p>Signature #120</p>
            </div>

            <div class="ui pointing below blac label petition_name">
              <p>S. M.</p>
              <p>Newark, CA</p>
              <p>2014-02-01</p>
              <p>Signature #120</p>
            </div>

            <div class="ui pointing below blac label petition_name">
              <p>S. M.</p>
              <p>Newark, CA</p>
              <p>2014-02-01</p>
              <p>Signature #120</p>
            </div>

            <div class="ui pointing below blac label petition_name">
              <p>S. M.</p>
              <p>Newark, CA</p>
              <p>2014-02-01</p>
              <p>Signature #120</p>
            </div>


            <p><a href="#"><i class="add icon"></i>load more signatures...</a></p>
          </div> <!-- END of petition_sign_area -->

          <div class="ui divider" id="signature_end_divider"></div>

          <div class="comment_area">
            <div class="support_reason">
              <h2 class="ui header">連署原因</h2>
            </div>


            <div class="ui tabular filter menu">
              <div class="right menu">
                <a class="active item" data-tab="votes">votes</a>
                <a class="item" data-tab="latest">latest</a>
              </div>
              <div class="ui divided list tab" data-tab="votes"></div>
              <div class="ui divided list tab" data-tab="latest"></div>
            </div>

            <div class="comment_item">

              <div class="comment_vote">
                <div class="comment_vote_num">30</div>likes
              </div>
              <div class="comment_content">
                <div class="comment_description">
                  Look at Navbar in bootstrap and search for "Fixed to top"

                  Edit: If you want something like you post, combine with something like this Leave menu bar fixed on top when scrolled .

                  When the menu has top offset equals something add class ".navbar-fixed-top".
                </div>
                <div class="share_comment"><a>Like</a> | <a>Share</a></div><!-- end of share_comment -->
                <div class="comment_meta">
                  <a>Petr B.</a>|
                  <a>post Jun 18 '13 at 10:19</a>
                </div>
              </div><!-- end of comment_content -->
            </div><!-- end of comment_item -->

            <div class="comment_item">

              <div class="comment_vote">

                <div class="comment_vote_num">10</div>likes

              </div>
              <div class="comment_content">
                <div class="comment_description">
                  自稱「國寶級白目」的作家馮光遠昨受訪表示，因要做與罷免「利益衝突」的事，將卸下「憲法１３３實踐聯盟」召集人一職。此舉是否代表參選台北市長？馮賣關子說：「二月十五日左右會開記者會正式宣布。」他強調，若參選會以無黨籍身份選，且絕對不會退選。
                </div>
                <div class="share_comment"><a>Like</a> | <a>Share</a></div><!-- end of share_comment -->
                <div class="comment_meta">
                  <a>朱有平</a>|
                  <a>post Jun 18 '13 at 10:19</a>
                </div>
              </div><!-- end of comment_content -->
            </div><!-- end of comment_item -->
          </div><!-- end of comment_area-->
        </div><!-- end of petition conent-->


        <div id="sign-petition" class="f-fix">

          <div class="ui small form segment sign-penal">
            <h1>連署這個提問</h1>
            <p>已有 2,533 人支持</p>
            <div class="sign-num"><p>截至 2014 年 6 月 3 日前，尚需 1,233 人連署</p>
              <p><a href="#" class="sign_rule">連署門檻說明</a></p></div>
            <div class="petition-progress">
              <div class="petition-bar" style="width: 65%;"></div>

            </div>

            <div class="sign_area">

              <div class="field">
                <label>連署原因：(optional)</label>
                <input placeholder="" type="text">
              </div>



              <div class="field">
                <div class="ui red button">
                  <i class="check icon"></i>
                  我要連署
                </div>
                <div class="sign_note">Note: When you sign this petition, your first name, last initial and city and state will be publicly displayed on the petition page. Once you sign a petition, your signature cannot be removed.</div>

                <div class="promote_petition">
                  分享這個提問：
                  <img src="images/facebook_circle.png" width="30">
                  <img src="images/twitter_circle.png" width="30">
                  <img src="images/google_circle.png" width="31">
                </div>

              </div>
            </div><!-- end of sign_area -->
          </div> <!-- end of ui small form segment sign-penal -->
          <div class="back_to_top">
            <a href="#"><i class="angle up icon"></i> back to top</a>
          </div>

        </div><!-- end of sign-petition -->

        <div id="footer">
          <div class="ui divider"></div>

          <div class="ui horizontal bulleted list">
            <div class="item">
              about
            </div>
            <div class="item">
              contact
            </div>
            <div class="item">
              advertise
            </div>
            <div class="item">
              developers
            </div>
          </div>
        </div><!-- End of footer -->



      </div><!-- end of wrapper-->

