<div id="city">
  改變你的城市
  <div class="ui pointing below blue label">


    <div class="ui dropdown">
      <p>change your city</p>
      <div class="text">---</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">台北市</div>
        <div class="item">新北市</div>
        <div class="item">桃園市</div>
        <div class="item">台中市</div>
        <div class="item">台南市</div>
        <div class="item">高雄市</div>
      </div>
    </div>

  </div>
</div>
<div id="candidate_login">
  <div class="ui pointing below label">
    <a href="candidate-login.html">候選人登入</a>
  </div>
</div>
<div id="user_count">
  <div class="ui pointing below green label">> join us!</div>
  <div class="ui pointing below label">

    1,985 人次 <br/>203 問題<br/> 2,213 響應

  </div>

</div>
<div id="wrapper">

  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台。</div>
      </div>
    </div>



  </div>


  <!-- ////////////////////////////////////////////////////////////// -->

  <div id="navigation">
    <div class="ui inverted menu">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>
      <a class="item" href="#/ask-question">發問</a>
      <a class="active item" href="#">瀏覽問題</a>
      <a class="item" href="#/reponse-list">瀏覽回應</a>
      <a class="item" href="#/candidate-list">候選人</a>
      <div class="right menu">
        <div class="item">
          <a href="#">登入</a>
        </div>
      </div>
    </div>
  </div>


  <!-- ////////////////////////////////////////////////////////////// -->


  <div id="content">

    <div class="ui right floated tiny black button"><i class="arrow sign down icon"></i>
      filter
    </div>
    <div class="ui right floated tiny black button"><i class="arrow sign down icon"></i>
      search
    </div>

    <div class="ui right floated tiny button"><a href="#/question-progress">
        <i class="tasks icon"></i>進度</a>
    </div>
    <div class="ui right floated tiny button"><a href="#/question-map">
        <i class="map marker icon"></i>地圖</a>
    </div>
    <div class="ui right floated tiny active button">
      <i class="list layout icon"></i>列表
    </div>


    <div class="ui tabular filter menu">
      <a class="active item" data-tab="all">all</a>
      <a class="item" data-tab="popular">popular</a>
      <a class="item" data-tab="new">new</a>
    </div>

    <div class="ui divided list tab" data-tab="all"></div>

    <div class="ui divided list">
      <div class="item" ng-repeat="n in data">
        <div class="right floated tiny teal ui button">
          <a href="#/question/{{n.id}}" class="question_list_a">完整內容</a></div>
        <div class="right floated support_num">{{n.votes}} 個支持</div>
        <img class="ui avatar image ask_who" src="images/all.png"></img>
        <div class="content">
          <div class="description">{{n.title}}</div>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>
    <center>

      <div class="ui pagination menu">
        <a class="icon item"><i class="icon left arrow"></i></a>
        <a class="active item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="item">5</a>
        <div class="disabled item">...</div>
        <a class="item">10</a>
        <a class="item">11</a>
        <a class="item">12</a>
        <a class="icon item"><i class="icon right arrow"></i></a>
      </div>
    </center>
  </div>




