<div id="wrapper">
  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎？</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>
    <div id="announce_board">
      <div ng-include="'partials/announce-board.html'"></div>
    </div><!-- end of announce_board -->
  </div>
  
  <!-- ////////////////////////////////////////////////////////////// -->

  <div id="navigation">
     <!-- mobile navigation -->
     <div class="ui inverted menu mobile_only" id="mobile_nav">
      <a class="ui small black launch button item" id="mobile_nav_button">
         <i class="list layout icon"></i>
      </a>
      <div class="right menu">
        <div class="item">
          <span ng-show="auth.user">{{auth.user.displayName|limitTo:userNameLimitMobile}}{{(auth.user.displayName.length>userNameLimitMobile?'...':'')}}| </span>
          <a href="#" ng-click="login()" ng-hide="auth.user">登入</a>
          <a href="#" ng-click="logout()" ng-show="auth.user">登出</a>
        </div>     
      </div>
    </div>
   
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <div class="ui inverted menu web_only">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>
      <a class="item" href="#/ask-question">發問</a>
      <a class="item" href="#/question-list">集氣中</a>
      <a class="active item" href="#/response-list">已達門檻</a>
      <a class="item" href="#/candidate-list">候選人表現</a>
      <a class="item" href="#/candidate-inbox" ng-show="user.candidate_id">回答選民問題</a>
      <div class="right menu">
        <div class="item">
          <span ng-show="auth.user">{{auth.user.displayName}} | </span>
          <a href="#" ng-click="login()" ng-hide="auth.user">登入</a>
          <a href="#" ng-click="logout()" ng-show="auth.user">登出</a>
        </div>       
      </div>
    </div>
  </div>

      <!-- ////////////////////////////////////////////////////////////// -->
<div id="response-content">
   <div class="ui labeled icon sidebar page_sidebar" id="sidebar">
      <div id="mobile_menu">
        <div class="item">
          <a href="#/"><i class="home icon"></i>市長，給問嗎？</a>
        </div>
        <div class="item"><a href="#/ask-question">發問</a></div>
        <div class="item"><a href="#/question-list">集氣中</a></div>
        <div class="active item"><a href="#/response-list">已達門檻</a></div>
        <div class="item"><a href="#/candidate-list">候選人表現</a></div>
      </div>
    </div><!-- end of ui sidebar -->

  <div class="ui segment" id="response_detail_segment">


<!-- Dispaly question -->
     <div class="addressed_to_block">
          <div class="addressed_to_candidate_text">請問市長候選人：</div>
          <div class="addressed_to_candidate_collection">
          <div ng-repeat="k in data.$addressing | orderByPriority | filter:'responded'"
               class="addressed_to_candidate">
               <a href="#/candidate/{{k.$id}}">
               <img class="ui image addressed_to" 
                    ng-src="images/candidates_avatar/{{k.$id}}.jpg"></img></a>
          </div>
          <div ng-repeat="k in data.$addressing | orderByPriority | filter:'pending'"
               class="addressed_to_candidate">
               <a href="#/candidate/{{k.$id}}">
               <img class="ui image addressed_to" 
                    ng-src="images/candidates_avatar_bw/{{k.$id}}.jpg"></img></a>
          </div>
          </div>
         
       </div><!-- end of state_block -->
       <div class="question_detail_votes">
          <div class="ui pointing left label">
          <div class="response_detail_push_top">推</div>
          <div class="question_detail_text">{{data.signatures_count|number:0}}</div>
          </div>
       </div>

       <div class="question_detail_header">
          <h2 class="question_detail_title">{{data.title}}</h2>
       </div>
       <div class="question_detail_content">
          <p ng-repeat="n in data.content">{{n}}</p>
       </div>
      
      <div class="question_detail_meta">
      <p>提出人：{{data.$asker.displayName}} | 提出日期： {{data.post_date.year}}-{{data.post_date.month}}-{{data.post_date.day}} </p>
      類別：
      <div class="question_detail_category" ng-repeat="n in data.category">
        <!-- <a class="link" href="#" >{{n}}{{$last ? '' : ', '}} <a> -->
        <span>{{n}}{{$last ? '' : '、'}}</span>
      </div>
      </div>
    

      <div class="ui divider" id="question_sign_block_start"></div>

          
<!-- -->
 
<div class="question_sign_area">
<div class="ui basic accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    <span class="question_sign_title">連署人</span>
    <div class="ui pointing left label question_detail_vote_box">{{data.signatures_count}}</div>
  </div>
  <div class="content">
    <div class="question_sign_block" ng-repeat="n in data.signatures | orderByPriority">
      <div class="question_sign_order_block">
        <div class="question_sign_push">推</div>
        <div class="question_sign_order">#{{($index)+1|number:0}}</div>
        <!--<div class="question_sign_order">#{{n.order|number:0}}</div>-->
      </div>
      <div class="question_sign_name">
        {{n.name}} | {{n.date.year}}-{{n.date.month}}-{{n.date.day}}
      </div>
     </div><!-- end of sign_block -->
     <!-- <div class="load_signature link"><i class="add icon"></i>顯示更多推文</div>-->
   </div><!-- end of content -->
</div><!-- end of accordion -->
</div><!-- end of question_sign_area -->

<!-- Dispaly responses -->  
    <div class="response_start_divider"></div>   
    <div class="response_item" 
         ng-repeat="n in data.$responses | orderByPriority"
         id="response_item_{{n.id}}">
      <div class="response_header">

         <div class="response_photo">
          <div class="circleborder">
          <a href="#/candidate/{{n.responser}}">
          <img class="circular ui image face response_candidate_face" 
               ng-src="images/candidates/{{n.responser}}.jpg"></a>
          </div>
        </div>

        <div class="response_title">
             <!--<h2>{{data.title}}</h2>-->
             <div class="response_subtitle">
             臺北市長候選人<a class="link" href="#/candidate/{{n.responser}}">{{candidates[n.responser].name}}</a>的回應
             </div>
        </div>
      </div>

       <div class="response_detail_votes">
          <div class="ui pointing below label" ng-hide="voted(n.id)">
          <div class="response_detail_push" ng-click="upVoteResponse(n.id)">推</div>
          <div class="response_detail_text">{{n.upVotesCount|number:0}}</div>
          </div>
          <div class="ui pointing below label" ng-hide="voted(n.id)">
          <div class="response_detail_booing" ng-click="downVoteResponse(n.id)">噓</div>
          <div class="response_detail_text">{{n.downVotesCount|number:0}}</div>
          </div>
       </div>

      <div class="response_main_text">
          <p ng-repeat="c in n.content">{{c}}</p>
          <div class="response_meta">
          <p>回應日期： {{n.postDate.year}}-{{n.postDate.month}}-{{n.postDate.day}} 
            <!--｜ <a href="#" class="link">分享</a></p>-->
          </div>

      </div>
    </div><!-- end of response_item -->


<!-- Right menu -->  
      <div id="response_detail_right_menu" class="fr-fix">
        <div class="ui small form segment" id="response_nav_segment">
          <div class="response_nav_title">
               <div class="ui large label">提問：{{data.title}}</div></div>

          <div class="response_nav_block">     
          <div class="response_nav_sub_title">已回答</div>
          <ul>
            <li ng-repeat="n in data.$responses">
               <div class="right_menu_go_to_candidate" id="right_menu_{{n.$id}}"
                ng-click="goToCandidate(n.$id)">
                {{candidates[n.responser].name}}
               </div>
            </li>
          </ul>
          </div>

          <div class="response_nav_block">
             <div class="response_nav_sub_title">尚未回答</div>
             <ul>
             <li ng-repeat="n in data.$addressing | orderByPriority | filter:'pending'">{{candidates[n.$id].name}}</li>
             </ul>
          </div>
         
         
          
       

        </div> <!-- end of ui small form segment sign-penal -->
         <div class="back_to_top" ng-click="goToTop()">
            <i class="angle up icon"></i> 回到頁首
          </div>
      </div><!-- end of response_detail_right_menu -->      



  </div><!-- end of ui segment -->


<div ng-include="'partials/footer.html'"></div>
</div><!-- end of response content -->



</div><!-- end of wrapper-->
