<div id="wrapper">
  <div id="top">
    <div id="header">
      <div class="main_title">
        <h1> 市長，給問嗎？</h1>
        <div class="ui pointing below label">整個城市，都是我的質詢台</div>
      </div>
    </div>

  <div id="announce_board">
 
    <div class="header_candidate_collection">
    <div class="header_candidate" 
         ng-repeat="n in candidates | filter:'join'">
      <div class="header_candidate_name" id="candidateName_{{n.id}}">{{n.name}}</div>
      <div class="header_candidate_photo">
      <div class="header_candidate_circleborder_{{n.state}}">
      <a href="#/candidate/{{n.id}}">
      <img class="circular ui image header_candidate_face" ng-src="images/candidates_avatar/{{n.id}}.jpg"></img></a>
      </div>
      <img class="circular ui image header_candidate_party header_candidate_party_{{n.partyEng}}" 
           ng-src="images/{{n.partyEng}}.png"></img>
      </div>
    </div>
    
    <div class="header_candidate" 
         ng-repeat="n in candidates | filter:'pending'">
      <div class="header_candidate_name" id="candidateName_{{n.id}}">{{n.name}}</div>
      <div class="header_candidate_photo">
      <div class="header_candidate_circleborder_{{n.state}}">
      <a href="#/candidate/{{n.id}}">
      <img class="circular ui image header_candidate_face" ng-src="images/candidates_avatar/{{n.id}}.jpg"></img></a>
      </div>
      <img class="circular ui image header_candidate_party header_candidate_party_{{n.partyEng}}" 
           ng-src="images/{{n.partyEng}}.png"></img>
      </div>
    </div>


     
    <div class="header_candidate" 
         ng-repeat="n in candidates | filter:'refused'">
      <div class="header_candidate_name" id="candidateName_{{n.id}}">{{n.name}}</div>
      <div class="header_candidate_photo">
      <div class="header_candidate_circleborder_{{n.state}}">
       <a href="#/candidate/{{n.id}}">
      <img class="circular ui image header_candidate_face" ng-src="images/candidates_avatar/{{n.id}}.jpg"></img></a>
      </div>
      <img class="circular ui image header_candidate_party header_candidate_party_{{n.partyEng}}" 
           ng-src="images/{{n.partyEng}}.png"></img>
      </div>
    </div>




    
     
     
     

  </div><!-- end of header_candidate_collection -->

<div class="header_candidate_info header_candidate_info_join">
      願意加入：{{(candidates | filter:'join').length}} 名
    </div>

<div class="header_candidate_info header_candidate_info_pending">
      意向不明：{{(candidates | filter:'pending').length}} 名
    </div>

     <div class="header_candidate_info header_candidate_info_refused">
      拒絕加入：{{(candidates | filter:'refused').length}} 名
    </div>


  </div><!-- end of announce_board -->





  </div>


      <!-- ////////////////////////////////////////////////////////////// -->

      <div id="navigation">
    <div class="ui inverted menu">
      <a class="item" href="index.html">
        <i class="home icon"></i>
      </a>
      <a class="item" href="#/ask-question">發問</a>
      <a class="item" href="#/question-list">集氣中</a>
      <a class="active item" href="#/response-list">已達門檻</a>
      <a class="item" href="#/candidate-list">候選人表現</a>
      <div class="right menu">
        <div class="item">
          <a href="#/login">登入</a>
        </div>       
      </div>
    </div>
  </div>

      <!-- ////////////////////////////////////////////////////////////// -->
<div id="response-content">
  <div class="ui segment">


<!-- Dispaly question -->
     <div class="addressed_to_block">
          <div class="addressed_to_candidate_text">請問市長候選人：</div>
          <div class="addressed_to_candidate_collection">
          <div ng-repeat="k in data.addressedTo|filter:'answered'"
               class="addressed_to_candidate">
               <a href="#/candidate/{{k.id}}">
               <img class="ui image addressed_to" 
                    ng-src="images/candidates_avatar/{{k.id}}.jpg"></img></a>
          </div>
          <div ng-repeat="k in data.addressedTo|filter:'pending'"
               class="addressed_to_candidate">
               <a href="#/candidate/{{k.id}}">
               <img class="ui image addressed_to" 
                    ng-src="images/candidates_avatar_bw/{{k.id}}.jpg"></img></a>
          </div>
          </div>
         
       </div><!-- end of state_block -->
       <div class="question_detail_votes">
          <div class="ui pointing left label">
          <div class="question_detail_push">推</div>
          <div class="question_detail_text">{{data.votes|number:0}}</div>
          </div>
       </div>

       <div class="question_detail_header">
          <h2 class="question_detail_title">{{data.title}}</h2>
       </div>
       <div class="question_detail_content">
          <p ng-repeat="n in data.content">{{n}}</p>
       </div>
      
      <div class="question_detail_meta">
      <p>提出人：{{data.asker.name}} | 提出日期： {{data.date}} </p>
      類別：
      <div class="question_detail_category" ng-repeat="n in data.category">
        <a class="link" href="#" >{{n}}{{$last ? '' : ', '}} <a>
      </div>
      </div>
    

          <div class="ui divider"></div>

          <div class="question_sign_area">
            <h2>共同發問者
              <div class="ui pointing below label">{{data.signature.length}}</div>
            </h2>
          
           
             <div class="question_sign_block" ng-repeat="n in data.signature">
                <div class="question_sign_order_block">
                  <div class="question_sign_push">推</div>
                  <div class="question_sign_order">#{{n.order|number:0}}</div>
                </div>
                <div class="question_sign_name">{{n.name}} | {{n.date}}</div>
             </div>
           
           </div><!-- end of question_sign_area -->

            <div class="load_signature">
              <a class="link"><i class="add icon"></i>load more signatures...</a>
            </div>



<!-- Dispaly responses -->  
    <div class="response_start_divider"></div>   
    <div class="response_item" ng-repeat="n in data.responses" 
         id="response_item_{{n.responser.id}}">
      <div class="response_header">
        <div class="response_title">
             <h2>{{data.title}}</h2>
             <div class="response_subtitle">
             臺北市長候選人<a class="link" href="#/candidate/{{n.responser.id}}">{{n.responser.name}}</a>的回應
             </div>
        </div>

       <div class="response_detail_votes">
          <div class="ui pointing below label">
          <div class="response_detail_push">推</div>
          <div class="response_detail_text">{{n.responseVoteUp|number:0}}</div>
          </div>
          <div class="ui pointing below label">
          <div class="response_detail_booing">噓</div>
          <div class="response_detail_text">{{n.responseVoteDown|number:0}}</div>
          </div>
       </div>


        <div class="response_photo">
          <div class="circleborder">
          <a href="#/candidate/{{n.responser.id}}">
          <img class="circular ui image face response_candidate_face" 
               ng-src="images/candidates/{{n.responser.id}}.jpg"></a>
          </div>
        </div>
      </div>
      <div class="response_main_text">
          <p ng-repeat="i in n.responseContent">{{i}}</p>
          <div class="response_meta">
          <p>回應日期： {{n.responseDate}} ｜ <a href="#" class="link">分享</a></p>
          </div>

      </div>
    </div><!-- end of response_item -->


<!-- Right menu -->  
      <div id="response_detail_right_menu" class="fr-fix">
        <div class="ui small form segment">
          提問：{{data.title}}
          <br/><br/>

          已回答
          <ul>
            <li ng-repeat="n in data.responses">
               {{n.responser.name}}：{{n.responseAbstract}}
            </li>
          </ul>
          <br/>尚未回答
          <ul>
          <li ng-repeat="n in data.addressedTo|filter:'pending'">
               {{n.name}}：已讀未回 {{n.pendingDays}} 天
          </li>
          </ul>
          <br/><br/>
         

          <div class="active title" id="i_wanna_ask_button">
              我要提問
          </div>

        </div> <!-- end of ui small form segment sign-penal -->
         <div class="back_to_top" ng-click="goToTop()">
            <i class="angle up icon"></i> 回到頁首
          </div>
      </div><!-- end of response_detail_right_menu -->      



  </div><!-- end of ui segment -->



</div><!-- end of response content -->



</div><!-- end of wrapper-->
